<a href="https://colab.research.google.com/github/Jon227student/IS_170_Machine_Learning/blob/2.-Feature-Engineering/Saligan_and_Schultz_Lab_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.3.5'

In [ ]:
# load data
pd.read_csv('gapminder.csv', delimiter='\t')

           country,continent,year,lifeExp,pop,gdpPercap
0      Afghanistan,Asia,1952,28.801,8425333,779.4453145
1      Afghanistan,Asia,1957,30.332,9240934,820.8530296
2       Afghanistan,Asia,1962,31.997,10267083,853.10071
3      Afghanistan,Asia,1967,34.02,11537966,836.1971382
4     Afghanistan,Asia,1972,36.088,13079460,739.9811058
...                                                 ...
1699    Zimbabwe,Africa,1987,62.351,9216418,706.1573059
1700   Zimbabwe,Africa,1992,60.377,10704340,693.4207856
1701   Zimbabwe,Africa,1997,46.809,11404948,792.4499603
1702   Zimbabwe,Africa,2002,39.989,11926563,672.0386227
1703   Zimbabwe,Africa,2007,43.487,12311143,469.7092981

[1704 rows x 1 columns]

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv', delimiter='\t')

In [ ]:
df.head()

        country,continent,year,lifeExp,pop,gdpPercap
0   Afghanistan,Asia,1952,28.801,8425333,779.4453145
1   Afghanistan,Asia,1957,30.332,9240934,820.8530296
2    Afghanistan,Asia,1962,31.997,10267083,853.10071
3   Afghanistan,Asia,1967,34.02,11537966,836.1971382
4  Afghanistan,Asia,1972,36.088,13079460,739.9811058

In [ ]:
#what is this df object
type(df)

# A dataframe object from the pandas library

pandas.core.frame.DataFrame

In [ ]:
df.shape

(1704, 1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 1 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   country,continent,year,lifeExp,pop,gdpPercap  1704 non-null   object
dtypes: object(1)
memory usage: 13.4+ KB

In [ ]:
df.columns

Index(['country,continent,year,lifeExp,pop,gdpPercap'], dtype='object')

In [ ]:
# what is the type of the column names?
type(df.columns)

pandas.core.indexes.base.Index

In [ ]:
df.dtypes

country,continent,year,lifeExp,pop,gdpPercap    object
dtype: object

In [ ]:
type(df.dtypes)

pandas.core.series.Series

In [ ]:
country_df=df('country')
print(type(country_df))
country_df.head()

TypeError: ignored